

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: arial, sans-serif;
    font-size: 15px;
}


h1, h2, h3, h4 {
    color:#444;
	text-align:center;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size:45px;
    
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size:24px;
}

p {
    line-height: 20px;
    color:#777;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
    color:#444;
	padding:0;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.orange {
    color: #FF7A00;
}

.clear {
    clear: both;
}

small {
    font-size: 13px;
    font-style: italic;
    
}

.new {
    font-size: 7px;
    float: left;
    color: #FF7A00;
    
}

/* HEADER */
header {
    height: 120px;
}

header h1 {
    float:left;
    margin-top: 32px;
}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    float:left;
    display: inline-block;
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    font-size: 12.5px;
    
}

header nav ul li a:hover {
    color: #ff7a00;
}



/*Corps*/

img{
	width:100%;
}

.row{
	margin:0;
}
p{
	margin-top:5%;
	text-align: justify;
    text-justify: inter-word;
}
button{
	margin:3%;
}
/* FOOTER */    

footer {
    height: 260px;
    background-color: #444;
}

footer h1 {
    color:#fff;
    text-align: center;
    padding-top: 80px;
}

.copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}

@media screen and (min-width: 991px){
	img {
		width:300px;
		height:175px;
	}
}
