/* HEADER 9*/

 .form-control{
	/*width:500px;*/
	display : block;
	width:20%;
	min-width:170px;
	margin : auto;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    /*padding: 11px;*/
	height:50px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
}

input[type="text"], input[type="date"], input[type="number"]{
	width:100%;
	height:40px;
	display:block;
	margin:auto;
    /*padding: 10px;*/
	margin-bottom:10px;
    font-size: 20px;
    /*margin-right: 20px;*/
    border: 2px solid #ddd;
    border-radius: 3px;
}

input[type="checkbox"]{
	width:30px;
	height:40px;
	display:inline;
    /*padding: 10px;*/
    /*margin-right: 20px;*/
    border: 2px solid #ddd;
}

label{
	/*border:2px solid black;*/
	display: block;
	/*margin:0px;
	padding:10px;*/
    font-size: 15px;
}

header {
    min-height: 70px;
}

.texte{
	padding-right:5px;
	padding-left:5px;
}

.new {
    font-size: 7px;
    float: left;
    color: #FF7A00;
    
}

header{
	margin-bottom:30px;
}

header h1 {
    float:left;
    margin-top: 32px;
}

header nav {
    float: right;
    margin-top: 50px;
}

header nav ul li {
    float:left;
    display: block;
}

header nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    font-size: 12.5px;
    
}

header nav ul li a:hover {
    color: #ff7a00;
}

.orange {
    color: #FF7A00;
}

a {
    text-decoration: none;
    color:#444;
}


h1 {
    font-family: 'Crete Round', serif;
    font-size:45px;
    
}

h3 {
    font-size: 30px;
	text-align:center;
}

.container{
	margin-top:15px;
}

.citation{
	height:10%;
}

.info{
	background-color: #ff7a00;
	color: #FFFFFF;
	padding:15px;
	border-radius:1em 0em 1em 0em;
}

.parallaxGeorge h1{
    font-family: 'Crete Round', serif;
	color:white;
	font-style:bold;
	text-align:center;
}

/* FOOTER */    

footer {
    min-height: 240px;
    background-color: #444;
}

footer h1 {
    color:#fff;
    text-align: center;
    padding-top: 80px;
}

.copyright {
    text-align: center;
    font-weight: bold;
	margin-top:30px;
    /*padding-top: 30px;*/
    color: #777;
}

.wrapper {
    width: 60%;/*940px;*/
    margin: 0 auto;
	margin-top:10px;
    /*padding: 0 10px;*/
}

@media screen and (max-width: 991px) {

	header h1 {
		float:none;
		text-align:center;
	}
	
	header nav {
		margin-top:15px;
		text-align:center;
	}
	
	header nav ul li{
		display: inline-block;
		float:none;
	}
	
	header nav ul li a {
		display:inline;
	}

	#menuPetit{	
		margin-top:15px;
		margin-bottom:15px;
		z-index:1;
	}
	
	.row h1, .row h2, .row h3, .row h4{
	text-align:center;
}
	
	
	#listePetite{
		position:relative;
		width:100%;
		text-align:center;
	}
	
	.dropdown-menu{
		padding: 0px 0px 0px 0px;
	}
	
	.dropdown-menu .divider{
		margin: 0;
	}
	
	.new{
		float:none;
	}
	
}

