body{

    font-family: calibri;
    font-weight: bold;
    margin : 0px;    
}

.pres1{
  width: 100%;
  height: 300px;
  position: relative;
  background-color : #FFF;
}

.pres1.pres2{
  position: absolute;
  text-align: center;
  width: 100%;
}


.pres1::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*z-index:99;*/
  background-image: url("Accueil2.jpg");
  background-size: auto;
  opacity: 0.4;
}



.bckGround{
	margin-top: 0%;
	margin-bottom: 10%;
	background-color: #CD084E;
}
.myBody{
	

}
label{
	display : inline-block;
	width : 110px;
	float: center;
	margin-bottom: 1%;
	text-align: left;
}

.radioGrp{
	display: inline-block;
}

h1{
	font-size : 90px;
	text-align : center;
	text-transform : uppercase ; 
	text-weight : bold;
	color : black;
	opacity : 1;
	filter: alpha(opacity=50);
	font-family : calibri;
	margin : 0px;
}
}

h2{
	margin-left: 20%;
	margin-right: : 20%;
}

.top{
	font-size : 90px;
	text-align : center;
	text-transform : uppercase ; 
	text-weight : bold;
	color : #CD084E;
	opacity : 1;
	filter: alpha(opacity=50);
	font-family : calibri;
	margin : 0px;
}


.block-page{
	margin-left: 20%;
	margin-right: 20%;
	text-align : center;
	background-size = cover;
	border-style:solid ;
	margin-bottom: 4%;
	margin-top: 4%;
	background-color: black;
	opacity: 0.7;
}
nav {
	width = 100%;
	background-color : black ;
	opacity : 0.7;
	margin-bottom: 10%;
}


nav > ul{
	margin : 0px;
	padding : 0px;
}

nav > ul > li {
	float: left;
	position: relative;
}

nav li{
	list-style-type: none;
}



nav > ul:after{
	content ="";
	display : block;
	clear : both;
}



nav > ul > li > a{
	padding : 20px;
	color : #FFF;
}

nav li{
	list-style-type: none;
	float : left;
	position : relative;
	/*padding : 20px;*/
}



nav a{
	display : inline-block;
	text-decoration : none;
	color:/*#535353*/ black;
	font-family : calibri;
	/*padding : 40px 40px;*/
	color : #FFF;
	text-transform : uppercase;
	font-size : 20px;
	
}

nav li:hover .items{
	display : inline-block;
	position : absolute;
	top : 100%;
	left : 0px;
	padding : 0px;
	z-index : 100000;
}


.items{
	display : none;
		background-color: black;
}

.items li{
	border-bottom : 1px solid #CCC;
}

.items li a{
	padding : 0px;
	font-size : 15px;
	color : white;
	width : 150px;
}

ul{
	list-style-type : none;
	display : inline;
}

ul li {
	display : inline-block;
	padding : 0 50px;
}

ul li ul li a {
	display:block /*!important*/;
}

/*.shop:hover{
	border-top : 1px solid #CCC;
}*/

nav > ul > li:hover a{
	padding : 20px 20px;
}

.table{
	display : table;
	margin : auto;
}


.shop:hover{
	border-top : 10px #FFF;
	background-color : RGBa(100 , 100, 100, 0.2);
}

.profil:hover{
	border-top : 10px #FFF;
	background-color : RGBa(100 , 100, 100, 0.2);
}

/*na li:hover a{
	padding : 20px 20px;
}*/

.button {
	background-color : #CD084E;
	opacity : 0.7;
	border : none;
	color : white;
	padding : 10px 20px;
	text-align : center;
	display : inline-block;
	font-size : 16px;
	cursor : pointer;

}

.text{
	text-align : center;

	width: 100%;
	height: 100%;
}


footer{
	margin-top: 5%;
	text-align: center;
    bottom:0%;

}
